*,
*::after,
*::before {
  box-sizing: border-box;
}

.foto {
  object-fit: contain;
  object-position: center;
  height: 100px;
  width: 100px;
}

img {
  max-width: 100%;
  padding: 10px;
}

.caixa {
  border: 1px solid black;
  width: 30vw;
  margin: auto;
  text-align: center;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 16px;
}

p {
  text-align: center;
  font-size: 14px;
}

.listaProdutos {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}
